<div>
<h1>CodeNaming</h1>
<p class="lead">"CodeNaming" is a naming helper service.<br>It will helps that you name a class, module, methods, variables in your source code.</p>
<%= link_to 'Product List', products_path, class: "btn btn-primary btn-lg active", role: "button" %>
</div>
