<h1>Editing product</h1>

<%= render 'form' %>

<br>
<%= link_to 'Show', @product, class: "btn btn-primary btn-lg active", role: "button" %>
<%= link_to 'Back', products_path, class: "btn btn-default btn-lg active", role: "button" %>
